<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>vue</title>
  <link rel="stylesheet" href="./index.css">
</head>

<body>

  <div class="app" id="app" v-cloak>

    <!-- ---------------------------------------------------v-for -->
    <div class="box">
      <h1>v-for</h1>

      <h6>&nbsp;</h6>
      <h3>对象</h3>
      <div class="item" v-for="(val,key) in obj">
        key:{{key}} ---> val:{{val}}
      </div>

      <h6>&nbsp;</h6>
      <h3>数组</h3>
      <div class="item" v-for="(item,index) in arr" :key=index>
        index:{{index}} ---> item:{{item}}
      </div>

    </div>



    <!-- ----------------------------------------------------遍历标签 -->
    <div class="box">
      <h1>遍历</h1>

      <h6>&nbsp;</h6>
      <h3>标签或组件</h3>
      <div class="item" v-for="(val,key) in obj_1" :_key=key>
        每个标签上有自定义属性 _key={{key}}
      </div>

      <cpt v-for="(val,key) in obj_1" :_key=key></cpt>

      <div class="item" v-for="(val,key) in obj_1" v-html=key></div>


    </div>

    <!-- ---------------------------------------------------自定义组件 -->
    <div class="box">
      <h1>component：基本使用</h1>
      <cpt_1></cpt_1>
      <cpt_2></cpt_2>
    </div>

    <!-- ---------------------------------------------------绑定测试 -->
    <div class="box">
      <h1>component：测试使用</h1>
      <div class="item">
        Vue render：<span id="one"></span>
      </div>
    </div>

    <!-- ---------------------------------------------------通信组件 -->
    <div class="box">
      <h1>通信</h1>
      <div class="item">
        组件1：
        <bro_1></bro_1>
      </div>
      <div class="item">
        组件2：
        <bro_2></bro_2>
      </div>
    </div>

    <!-- ---------------------------------------------------axios@0.19.0 -->
    <div class="box">
      <h1>axios@0.19.0</h1>


      <h6>&nbsp;</h6>
      <div class="item">
        <button @click=_get()>get</button>
      </div>
      <div class="item">
        GET请求数据:{{ajax.get}}
      </div>


      <h6>&nbsp;</h6>
      <div class="item">
        <button @click=_post()>post</button>
      </div>
      <div class="item">
        POST请求数据:{{ajax.post}}
      </div>

    </div>






    <!-- -----------------------------------------------vue-router@2.0.1 -->
    <div id="router_box">

    </div>





  </div>
</body>
<!-- vue -->
<script src="../script/lib/vue/vue2.js" type="text/javascript"></script>
<!-- vue-router@2.0.1 -->
<script src="../script/lib/vue/vue-router2.0/dist/vue-router.min.js" type="text/javascript"></script>
<!-- axios@0.19.0 -->
<script src="../script/lib/vue/axios/dist/axios.js" type="text/javascript"></script>
<!-- main -->
<script src="./index.js" type="text/javascript"></script>

</html>