<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>vue</title>
  <!-- element-ui -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- vant -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.2/lib/index.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>

  <div class="app" id="app" v-cloak>

    <!-- ---------------------------------------------------v-for -->
    <div class="box">
      <h1>v-for</h1>

      <h6>&nbsp;</h6>
      <h3>对象</h3>
      <div class="item" v-for="(val,key) in obj">
        key:{{key}} ---> val:{{val}}
      </div>

      <h6>&nbsp;</h6>
      <h3>数组</h3>
      <div class="item" v-for="(item,index) in arr" :key=index>
        index:{{index}} ---> item:{{item}}
      </div>

    </div>



    <!-- ----------------------------------------------------遍历标签 -->
    <div class="box">
      <h1>遍历</h1>

      <h6>&nbsp;</h6>
      <h3>标签被遍历：</h3>
      <div class="item" v-for="(val,key) in obj_1" :_key=key>
        每个标签上有自定义属性 _key={{key}}
      </div>
      <div class="item" v-for="(val,key) in obj_1" v-html=key></div>


      <h6>&nbsp;</h6>
      <h3>组件被遍历：</h3>
      <cpt v-for="(val,key) in obj_1" :_key=key></cpt>


    </div>

    <!-- ---------------------------------------------------定义组件 -->
    <div class="box">
      <h1>定义组件</h1>
      <cpt_1></cpt_1>
      <cpt_2></cpt_2>
    </div>

    <!-- ---------------------------------------------------绑定组件 -->
    <div class="box">
      <h1>绑定组件</h1>
      <div class="item">
        Vue render：<span id="one"></span>
      </div>
    </div>

    <!-- ---------------------------------------------------缓存组件 -->
    <div class="box">
      <h1>缓存组件</h1>

      <h6>&nbsp;</h6>
      <h3>组件table栏</h3>
      <div class="item">
        <button @click=tab(1)>tab_1</button>
        <button @click=tab(2)>tab_2</button>
      </div>
      <keep-alive include="tab_1">
        <component :is=tab_name></component>
      </keep-alive>

    </div>


    <!-- ---------------------------------------------------props -->
    <div class="box">
      <h1>组件 自定义属性、事件</h1>

      <cpt_prop prop_a="10" prop_b="str_b" prop_c="str_c" prop_f="success" @cpt_ev=_do></cpt_prop>
    </div>




    <!-- ---------------------------------------------------通信组件 -->
    <div class="box">
      <h1>通信组件</h1>
      <div class="item">
        组件1：
        <bro_1></bro_1>
      </div>
      <div class="item">
        组件2：
        <bro_2></bro_2>
      </div>
    </div>




    <!-- ---------------------------------------------------axios@0.19.0 -->
    <div class="box">
      <h1>axios@0.19.0</h1>


      <h6>&nbsp;</h6>
      <div class="item">
        <button @click=_get()>get</button>
      </div>
      <div class="item">
        GET请求数据:{{ajax.get}}
      </div>


      <h6>&nbsp;</h6>
      <div class="item">
        <button @click=_post()>post</button>
      </div>
      <div class="item">
        POST请求数据:{{ajax.post}}
      </div>

    </div>





    <!-- -----------------------------------------------vue-router@3.0.1 -->
    <div id="router_box">

    </div>



    <!-- ----------------------------------------------vuex@2.0.0 -->
    <div id="vuex_box">

    </div>



    <!-- -------------------------------------------element-UI -->
    <h1>element-UI</h1>
    <el-button @click="visible = true">Button</el-button>
    <el-dialog :visible.sync=visible title="Hello world">
      <p>Try Element</p>
    </el-dialog>


    <div class="block">
      <span class="demonstration">默认</span>
      <el-date-picker v-model="time_val" type="date" placeholder="选择日期">
      </el-date-picker>
    </div>


    <div class="block">
      <span class="demonstration">默认不区分颜色</span>
      <el-rate v-model="rate_val"></el-rate>
    </div>

    <div class="block">
      <span class="demonstration">有默认值</span>
      <el-color-picker v-model="color_picker"></el-color-picker>
    </div>


    <el-switch v-model="switch_val" active-color="#13ce66" inactive-color="#ff4949">
    </el-switch>



    <!-- --------------------------------------------------vant -->
    <van-button loading type="primary" />

  </div>





</body>
<!-- vue -->
<script src="../script/lib/vue/vue@2.6.10.min.js" type="text/javascript"></script>
<!-- vue-router -->
<script src="../script/lib/vue/vue-router_v3.0.1.js" type="text/javascript"></script>
<!-- axios@0.19.0 -->
<script src="../script/lib/vue/axios/dist/axios.js" type="text/javascript"></script>
<!-- vuex -->
<script src="../script/lib/vue/vuex@2.0.0.min.js" type="text/javascript"></script>
<!-- element-ui -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- vant -->
<script src="https://cdn.jsdelivr.net/npm/vant@2.2/lib/vant.min.js"></script>

<!-- index -->
<script src="./index.js" type="text/javascript"></script>



<!-- 路由配置index.router 的学习 -->
<script src="./index.router.js" type="text/javascript"></script>

<!-- vuex 的学习 -->
<script src="./index.vue.store.js" type="text/javascript"></script>
<script src="./index.vuex.js" type="text/javascript"></script>


</html>